<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecimento de Fala</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Reconhecimento de Fala</h1>
        <button id="startBtn" class="btn">Começar a Falar</button>
        <button id="envia" class="btn">Enviar Para E-mail</button>
        <p id="result" class="result"></p>
        <p id="emailStatus"></p>
        <textarea id="texto" rows="4" cols="50" readonly class="texto"></textarea>
    </div>
    <script src="../scripts/api.js"></script>
    
</body>
</html>
